# This file is part of the YesWiki Extension Shop.
# Authors : see README.md file that was distributed with this source code.
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
parameters:
  shop:
    # 'helloasso', 'mangopay' and in future 'stripes', 'mollie' or other
    serviceName: 'helloasso'
  shop_editable_config_params:
    - shop:
      - serviceName
      - mangoPay:
        - clientId
        - clientApiKey
      - helloAsso:
        - clientId
        - clientApiKey
        - organizationSlug
        - postApiToken

services:
  _defaults:
    autowire: true
    public: true

  YesWiki\Shop\Service\:
    resource: 'services/*.php'
  
  YesWiki\Shop\Controller\:
    resource: 'controllers/*.php'